/user-service/target/
/article-service/target/
/category-service/target/
/eureka-server/target/
/authentication-service/target/
/clients-common/target/
/notification-service/target/
/authentication-service/
/images/
/article-service/src/main/resources/application.yml
/apigateway/target/
/docker-compose.yml